.board {
    width: 500px;
    height: 500px;
    display: grid;
    border: 2px solid black;
    margin: 15px 0;
}

.hidden {
    display: none;
}

button {
    padding: 5px;
}

.buttons {
    margin-bottom: 10px;
}

.grid-line {
    border: 1px solid #ddd;
}